<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="adminEmail" value="dan.sool@konesko.ee" />
    <add key="senderEmail" value="offlain@bauhof.ee" />
    <add key="csvFolder" value="\\10.0.1.100\c$\Bauhof\csv\" />
    <add key="shopFileFolder" value="\\10.0.1.100\c$\Bauhof\csvShopFile\" />
    <add key="csvArchiveFolder" value="\\10.0.1.100\c$\Bauhof\csvArchive\" />
    <add key="jsonFolder" value="\\10.0.1.100\c$\Bauhof\json\" />
    <add key="logFolder" value="\\10.0.1.100\c$\Bauhof\log\" />
    <add key="exportFolder" value="\\10.0.1.100\c$\Bauhof\export\" />
    <add key="smtpServer" value="mail.neti.ee" />
    <add key="debugLevel" value="1" />-->
    <add key="adminEmail" value="dan.sool@konesko.ee" />
    <add key="senderEmail" value="offline@konesko.ee" />
    <add key="apkFolder" value="C:\DATA\PDA_OFFLINE\APK\" />
    <add key="csvFolder" value="C:\DATA\PDA_OFFLINE\SQL_CSV\" />
    <add key="shopFileFolder" value="C:\DATA\PDA_OFFLINE\ShopRelation\" />
    <add key="csvArchiveFolder" value="C:\DATA\PDA_OFFLINE\SQL_CSV_Archive\" />
    <add key="jsonFolder" value="C:\DATA\PDA_OFFLINE\PDA_JSON\" />
    <add key="logFolder" value="C:\LOGS\PDA_OFFLINE_Logs\" />
    <add key="exportFolder" value="C:\DATA\PDA_OFFLINE\PDA_Export_To_AX\01\" />
    <add key="smtpServer" value="mail.konesko.ee" />
    <add key="debugLevel" value="1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>